html {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 600;
    background-size: cover;
    background-repeat: no-repeat;
    /* background: linear-gradient(to top, #6734bc, #0073ee, #0095d0, #00aa81, #59b52d); */
    /* background-image: linear-gradient(to top, #09203f 0%, #537895 100%); */
    /* background: #2980b9;  /* fallback for old browsers */
    /* background: -webkit-linear-gradient(to top, #2c3e50, #2980b9);  Chrome 10-25, Safari 5.1-6 */
    /* background: linear-gradient(to top, #2c3e50, #2980b9); W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background-color: #0093E9;
    background-image: linear-gradient(180deg, #0093E9 0%, #2a9887 100%);



}
.container {
    width: 50%;
    height: 800px;
    border-radius: 5px;
    margin: auto;
    /* display: flex; */
    /* flex-direction: column; */
    box-sizing: border-box;
}

.navBar{
    padding-top: 15px;
}

.navBar ul {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    list-style-type: none;
    margin: auto;
    overflow: hidden;
    background-color: rgb(196, 196, 196);
    opacity: 0.5;
    border-radius: 10px;
}


.navBar li {
    float: left;
}

li a {
    display: block;
    text-decoration: none;
    padding: 10px;
    color: black;
}
li a:hover {
    background-color: rgb(147, 159, 163);
    opacity: 0.8;
    border-radius: 3px;
}

.searchBox {
    padding-top: 15px;
    display: flex;
    justify-content: center;
        
    }



#input {
    text-align: center;
    margin-top: 20px;
    border-radius: 5px;
    padding: 10px;
    font-size: 1.1em;
    background: lightgrey;
    max-width: 480px;
    background: rgb(206, 197, 197);
    margin-bottom: 20px
}

input:focus::-webkit-input-placeholder { 
    color:transparent; 
}
.usersTable {
    display: flex;
}
#ul {
    padding-top: 20px;
    align-content: center;   
    padding: inherit;
}

#ul li {
    list-style-type: none;
    color: black;
    font-weight: 400;
    margin-top: 10px; 
    padding-top: 12px;
    background:#6DABD3;
    width: 200px;
    text-align: center;
    padding-bottom: 8px;
    border-radius: 25px;
}

#ul li:hover {
    list-style-type: none;
    color: black;
    font-weight: 300;
    margin-top: 10px; 
    padding-top: 12px;
    cursor: pointer;
    background:#8EC5C5;
    width: 200px;
}

.userTable {
    width: 500px;
}

ul #ul{
    margin: auto;
}
#ul {
    margin: auto;
    display: flex;
    flex-flow: wrap;
    justify-content: space-around;
    
}

footer  {
    height: 100px;
    /* padding-top: 18px; */
    /* color: aliceblue; */
    font-weight: 100;
    font-size: 0.8em;
    display: flex;
}
#contact, p {    
    margin: auto;
    text-align: center;
    color: black;
    letter-spacing: 0.9px;
    /* font-size: 1.1em; */

}